/node_modules
/.pnp
.pnp.js

/coverage

/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
dist/
package-lock.json

.gradle
.vscode
!gradle/wrapper/gradle-wrapper.jar

bkpDockerfile
buildDockerfile
k8s/deployment.yaml

build-storybook.log
/storybook-static

.scannerwork/
sonarscan.ts
.scannerwork/report-task.txt
# Sentry Config File
.sentryclirc
